/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 0px;
}

.logo {
  width: 25px;
  margin-left: 15px;
  margin-right: 5px;
}
.nav-item a{
  color: #a5a5a5 ;
  font-size: .8em;
}

.selected {
  background-color: #EEEEEE;
  color: black;
}
.selected a {
  color: black;
}
.title {
  padding-left: 15px;
  margin-top: 0px;
  font-weight: 100;
  color: white;
  margin-bottom: 15px;
}
.title-userview {
  padding-left: 15px;
  margin-top: 15px;
  font-weight: 100;
  color: #FF6600;
  margin-bottom: 15px;
  text-decoration: none;
}
.storyLink {
  color: black;
  font-weight: 400;
}
.storyLink:hover {
  color: grey;
  text-decoration: none;
}
.titleLink:hover {
  text-decoration: none;
}
.title:hover {
  color:#d15300;
  text-decoration: none;
}
.selectTitle {
  margin-left: -20px;
  display: inline;
}
.onBlackLogo {
  margin:0px;
  padding: 0px;
}
.storyTitle {
  font-size: 1.2em;
  font-weight: 100;
  margin-top: 100px;
  padding: 30px;
}
.userStoryTitle {
  font-size: 1.2em;
  font-weight: 100;
  color: black;
  margin-top: -10px;
  display: inline;
  float: left;
}
.userStoryTitle:hover {
  text-decoration: none;
  color: grey;

}
.sentimentNode {
  padding: 3px;
  border-radius: 15px;
  color: white;
  text-align: center;
}
.Neutral {
  background-color: #a5a5a5;
}
.Positive {
  background-color: #14CC6F;
}
.Negative {
  background-color: #FF270D;
}
.storyTitle h4{
  margin-top: 0px;
  font-weight: 200;
}
.storyTitle:hover {
  text-decoration: none;
  color: #FF6600;
}
.table > thead > tr > th,
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td{
  border-top: none !important;
  border-bottom: none !important;

}
.table > thead > tr > th{
  font-size: .8em !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #a3a3a3;
}
.storyDate {
  margin-bottom: 0px;
  background-color: #ffdec9;
  color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  width: 100px;
  text-align: center;
}
.selectLogo {
    margin-top: -10px;

  display: inline;
}
.scorePill {
  color: white;
  font-size: 1em;
  display: inline;
  float: right;
  margin-left: 10px;
}
.scorePill .pilllabel {
  background-color: #ea5d00;
  margin: 0px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px 0px 0px 10px;
}
.sentiment .pilllabel {
  background-color: #13BD67;
}
.scorePill .value {
  background-color: #FF6600;
  margin-left: -4px;
  padding: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 0px 10px 10px 0px;
}
.sentiment .value {
  background-color: #14CC6F;
}
.table {
  margin-top: 60px;
  z-index: 100;
}
.btnAndInput {
  position: fixed;
  top:0px;
  right: 0px;
}
.storyLine {
  margin-right: 10px;
}
.topbar {
  background-color: #fff;
  width: 100%;
  height: 63px;
  padding: 0px;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,.05)
}
.storiesLinkTitle {
  position: fixed;
  left: 16.6%;
  top:20px;
  width: 400px;
  margin-bottom: 30px;
}

.byStoriesBtn {
  border: 1px #FF6600 solid ;
  height: 38px;
  width: 150px;
  padding: 7px;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  top: 11px;
  min-right: 220px;
  right: 460px;
  font-size: 15px;
  font-weight: 200;
  z-index: 10;
}
.byStoriesBtn-stories {
  border: 1px #FF6600 solid ;
  height: 38px;
  width: 150px;
  padding: 7px;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  top: 11px;
  min-right: 220px;
  right: 230px;
  font-size: 15px;
  font-weight: 200;
  z-index: 10;
}
.byStoriesBtn-stories a {
  color: #FF6600
}
.byStoriesBtn-stories a:hover {
  color: #ff9e5e;
  text-decoration:none;
}

.backBtn {
  left:235px;
  z-index: 50;
  width: 100px;
  top:20px;
  position: fixed;
  font-size: 15px;
  font-weight: 200;
  color:#FF6600;
}
.backBtn a {
  color:#FF6600;
}
.backBtn a:hover{
  color:#ff9e5e;
  text-decoration: none;
}
.backBtn span {
  float: left;
  margin-top: 2px;
}

.byStoriesBtn a{
  color:#FF6600;
}
.byStoriesBtn a:hover{
  color:#ff9e5e;
  text-decoration: none;
}
.byStoriesBtn:hover {
  border: 1px #ff9e5e solid;
}
.sectionTitle {
  margin-top: -45px;
  font-weight: 100;
  color: #FF6600;
  text-align: center;
  margin-bottom: 15px;
}
.selectBG {
  width: 100%;
  top: 0px;
  position: absolute;
  bottom: 0px;
  height: 100%;
  background-color: #FF6600;
}

.selectBox {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
  color: #b74900;
  text-align: center;
  border-radius: 4px;
  background-color: #fff9f2;
  -webkit-box-shadow: -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
}
.selectBox h4 {
  margin-bottom: 40px;
  margin-top: 30px;

}
.selectBox a {
  text-decoration: none;
}

.selectionButton {
  background-color: #ffaa72;
  width:200px;
  height: 44px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 30px;
   -webkit-box-shadow: -1px 0px 3px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    -1px 0px 3px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         -1px 0px 3px 0px rgba(50, 50, 50, 0.32);
}
.selectionButton:hover {
  background-color: #FF6600;
}

.selectionButton p {
  color: black;
}

.details-header {
  color: #555;
  font-weight: 200;
  text-align: center;
  background-color: #222629;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: -25px;
  margin-bottom: 20px;
  font-size: .9em;


}
.logo-details-header {
  color: #555;
  font-weight: 200;
  text-align: center;
  background-color: #222629;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 4px;
  margin: -25px;
  margin-bottom: 20px;
  font-size: .9em;


}
.detail-p {
  text-align: center;
}
.username {
  padding-left: 10px;
  margin-top: 0px;
  font-weight: 100;
}
.user-details {
  font-size: .9em;
  color: #777;
  text-align: center;
}
.detail-p {
  color:white;
  font-weight: 100;
  margin-top:-10px;
}

.userSidebar {
  background: #282C2F;
  padding: 25px;
  top: 0;
  bottom: 0;
  width: 16.6%;
  min-width: 220px;
  max-width: 220px;
  right: 0px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-box-shadow: -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
}
.rightPanel {
  min-width: 800px;
  margin-left: 220px;
}
.sidebar {
  background: #282C2F;
  padding: 25px;
  top: 0;
  bottom: 0;
  width: 220px;
  min-width: 220px;
  left: 0px;
  z-index: 100;
  position: fixed;
  overflow: scroll;
  -webkit-box-shadow: -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
}
.line-graph {
  margin-left: 0px;
}

.un-input {
  position: absolute;
  top: 11px;
  right: 250px;
  border-radius: 2px;
  height: 38px;
  width: 200px;
  font-size: 15px;
  color: #a5a5a5;
  padding: 10px;
  font-weight: 200;
  border: 2px solid #c9c9c9;
  z-index: 0;
}

.name-tag  {
  width: 220px;
  height: 50px;
  font-size: .8em;
  text-align: center;
  background-color: rgba(0,0,0, 0.3);
  color: rgba(255,255,255, .2);
  padding: 15px;
  position: fixed;
  bottom: 0px;
  z-index: 999;
  left: 0px;
}
.name-tag:hover {
  color: rgba(255,255,255, .4);
  text-decoration: none;
}
.un-input-stories {
  position: absolute;
  top: 11px;
  right: 10px;
  border-radius: 2px;
  height: 38px;
  width: 200px;
  font-size: 15px;
  color: #a5a5a5;
  padding: 10px;
  font-weight: 200;
  border: 2px solid #c9c9c9;
  z-index: 10;
}
.userdgnt {
  margin-top: 10px;
  margin-left:-25px;
}

.summary-detail {
  color: white;
  text-align: center;
}

a.summary-detail:hover {
  text-decoration: none;
  color: #bfbfbf;
}
.center {
 text-align: center;
}
.pie-label {
  color: #555;
  font-weight: 200;
  font-size: .8em;
  margin-bottom: 15px;
}
.sidebar-label {
  color: #555;
  font-weight: 400;
  font-size: .8em;
}

.post-count-node {
  margin: 0 auto;
  background-color: #f7f7f7;
  width: 122px;
  height: 40px;
  border: 1px #dbdbdb solid;
  -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.09);
  -moz-box-shadow:    -1px 0px 6px 0px rgba(50, 50, 50, 0.09);
  box-shadow:         -1px 0px 6px 0px rgba(50, 50, 50, 0.09);
}
.post-count-label{
  text-align: center;
  font-size: .8em;
  color: #a5a5a5;
  font-weight: 200;
}
.total-node {
  width: 60px;
  border-right: 1px solid #d1d1d1;
  height: 100%;
  float:left;
  padding: 10px;
  text-align: center;
}
.change-node {
  width: 60px;
  height: 100%;
  float: right;
  padding: 10px;
  text-align: center;

}

.chart-label {
  font-weight: 200;
  color: #a5a5a5;
}
.change-node p {
  color: white;
}

.counts-container {
  margin-bottom: 50px;
}

.up {
  background-color: #14CC6F;
}

.down {
  background-color: #F7464A;

}

.same {
  background-color: #00A9B2; 
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

