/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px;
}
.logo {
  width: 25px;
  margin-left: 15px;
  margin-right: 5px;
}
.nav-item a{
  color: #a5a5a5 ;
  font-size: .8em;
}

.selected {
  background-color: #EEEEEE;
  color: black;
}
.selected a {
  color: black;
}
.title {
  padding-left: 15px;
  margin-top: 0px;
  font-weight: 100;
  color: #FF6600;
  margin-bottom: 15px;
}
.details-header {
  color: #555;
  font-weight: 200;
  text-align: center;
  background-color: #222629;
  padding: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: -25px;
  margin-bottom: 20px;
  font-size: .9em;


}
.username {
  padding-left: 10px;
  margin-top: -5px;
  font-weight: 100;
}
.user-details {
  font-size: .9em;
  color: #777;
}
.detail-p {
  color:white;
  font-weight: 100;
  margin-top:-10px;
}

.sidebar {
  background: #282C2F;
  padding: 25px;
  top: 0;
  bottom: 0;
  width: 220px;
  right: 0px;
  position: fixed;
  overflow: scroll;
  -webkit-box-shadow: -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         -6px 0px 30px 0px rgba(50, 50, 50, 0.32);
}
.line-graph {
  margin-left: 0px;
}
.un-input {
  position: absolute;
  top: 13px;
  right: 235px;
  border-radius: 2px;
  height: 38px;
  width: 200px;
  font-size: 15px;
  color: #a5a5a5;
  padding: 10px;
  font-weight: 200;
  border: 2px solid #c9c9c9;
}
.userdgnt {
  margin-top: 10px;
}

.center {
 text-align: center;
}
.pie-label {
  color: #555;
  font-weight: 200;
  font-size: .8em;
  margin-bottom: 15px;
}

.post-count-node {
  margin: 0 auto;
  background-color: #f7f7f7;
  width: 122px;
  height: 40px;
  border: 1px #dbdbdb solid;
  -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.09);
  -moz-box-shadow:    -1px 0px 6px 0px rgba(50, 50, 50, 0.09);
  box-shadow:         -1px 0px 6px 0px rgba(50, 50, 50, 0.09);
}
.post-count-label{
  text-align: center;
  font-size: .8em;
  color: #a5a5a5;
  font-weight: 200;
}
.total-node {
  width: 60px;
  border-right: 1px solid #d1d1d1;
  height: 100%;
  float:left;
  padding: 10px;
  text-align: center;
}
.change-node {
  width: 60px;
  height: 100%;
  float: right;
  padding: 10px;
  text-align: center;

}

.chart-label {
  font-weight: 200;
  color: #a5a5a5;
}
.change-node p {
  color: white;
}

.counts-container {
  margin-bottom: 50px;
}

.up {
  background-color: #14CC6F;
}

.down {
  background-color: #F7464A;

}

.same {
  background-color: #00A9B2; 
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
