<div ui-view class=""></div>
<div class="topbar">
  <a href="#/select-fork" class="titleLink storiesLinkTitle"> <img src="/images/logo.png" class="pull-left logo">
    <h3 class="title">TOP TRENDING STORIES</h3>
  </a>
  <div class="btnAndInput"> 
    <div class="byStoriesBtn">
      <a href="#/user/pg/bytime"><p>User Dash</p></a>
    </div>
    <form ng-submit="userEntered()">
      <input type="text" ng-model="inputUser" class="un-input" placeholder="Search Username" ></input>
    </form>
  </div>
</div>
