<div class="col-sm-12">

  <div class="row line-graph">
    <div>
      <p class="storyDate">{{chartInfo.created_at}}</p>
      <br>
      <a href="{{chartInfo.url}}" class="storyTitle"><h4>{{chartInfo.author.toUpperCase()}} - {{chartInfo.title}}</h4></a>
      <div class="scorePill">
        <span class="pilllabel">Score</span>
        <span class="value">{{chartInfo.points}}</span>
      </div>
      <div class="scorePill sentiment">
        <span class="pilllabel">Comments Sentiment</span>
        <span class="value">{{sentiment}}</span>
      </div>
      <canvas linechart options="myChartOptions" responsive=true data="PostChart"  width="500" height="300"></canvas>
      <p class="center chart-label">Latest Post Comments</p>
  </div>
</div>
<div class="col-sm-2">
  <div class="sidebar">
    <h4 class="details-header">SUMMARY</h4> 

    <canvas doughnutchart options="options" class="userdgnt center" data="dgntData" width="160" height="160"></canvas>
    <p class="center pie-label">WORD FREQUENCY</p>
    <p class="user-details">CUMULATIVE SENTIMENT</p> <p class="{{sentiment}} sentimentNode">{{sentiment}}</p>
  </div>
</div>