<table class="table table-striped">
<thead>
  <tr >
  	<th>Post</th>
  	<th>Author</th>
  	<th>Comments</th>
  	<th>Points</th>
  	<th>Sentiment</th>
  </tr>
</thead>


  <tr ng-repeat="story in topStories">
    <td><a href="#/top-stories/{{story.id}}" class="storyLink">{{story.title}}</a></td>
    <td>{{story.author}}</td>
    <td>{{story.num_comments}}</td>
    <td>{{story.points}}</td>
    <td><div class="{{story.sentiment}} sentimentNode">{{story.sentiment}}</div></td>
  </tr>

</table>
     <div class="col-sm-2">
        <div class="sidebar">
          <h4 class="details-header">SUMMARY</h4> 

          <canvas doughnutchart options="options" class="userdgnt center" data="dgntData" width="160" height="160"></canvas>
          <p class="center pie-label">WORD FREQUENCY</p>
          <p class="user-details">CUMULATIVE SENTIMENT</p> <p class="{{sentiment}} sentimentNode">{{sentiment}}</p>
        </div>

      </div>