<div class="col-sm-2" >
  <div class="sidebar">
  <div class="logo-details-header">
    
    <a href="#/select-fork"> <img src="/images/logo.png" class="pull-left logo onBlackLogo">
    <h3 class="title">HN ANALYTICS</h3>
  </a>
  </div>
    <canvas doughnutchart options="options" class="userdgnt" responsive=true data="dgntData" ></canvas>
    <p class="center pie-label">WORD FREQUENCY</p>
    <p class="user-details">CUMULATIVE SENTIMENT</p> <p class="{{sentiment}} sentimentNode">{{sentiment}}</p>
  </div>

</div>
<div class="col-sm-10">
  <table class=" table table-striped ">
    <thead>
      <tr >
      	<th>Post</th>
      	<th>Author</th>
      	<th>Comments</th>
      	<th>Points</th>
      	<th>Sentiment</th>
      </tr>
    </thead>
    <tr ng-repeat="story in topStories">
      <td><a href="#/top-stories/{{story.id}}" class="storyLink">{{story.title}}</a></td>
      <td>{{story.author}}</td>
      <td>{{story.num_comments}}</td>
      <td>{{story.points}}</td>
      <td><div class="{{story.sentiment}} sentimentNode">{{story.sentiment}}</div></td>
    </tr>

  </table>
</div>
