<div class="col-sm-12">
  <div class="row line-graph">
   <div>
    <p class="storyDate">{{chartInfo.created_at}}</p>
    <br>
    <a href="{{chartInfo.url}}" style="display:inline; float:left;" class="userStoryTitle"><h4>{{user.toUpperCase()}} - {{chartInfo.title.slice(0,40)}}</h4></a><h4 style="display:inline;" ng-if="chartInfo.title.length > 40">...</h4>
    <div class="scorePill">
      <span class="pilllabel">Score</span>
      <span class="value">{{chartInfo.points}}</span>
    </div>
    <div class="scorePill sentiment">
      <span class="pilllabel">Comments Sentiment</span>
      <span class="value">{{sentiment}}</span>
    </div>
    <canvas linechart options="myChartOptions" responsive=true data="topPostChart" width="500" height="300"></canvas>
    <p class="center chart-label">Top Post Comments</p>

  </div>
</div>
