<div class="col-sm-12">
   <div class="row">
    <h1 class="username" ng-if="userName === 'pg'">PAUL GRAHAM</h1>
    <h1 class="username"ng-if="userName !== 'pg'">{{user.toUpperCase()}}</h1>
  </div>
  <div class="row">
    <p class="center chart-label">Top Post Statistics</p>
      <div>
    	<a href="{{chartInfo.url}}}"><h4>{{chartInfo.title}}</h4></a>
    	<p>Score: {{chartInfo.points}}</p>
    	<p>{{chartInfoDate}}</p>
    </div>
    <canvas linechart options="myChartOptions" responsive=true data="topPostChart" width="500" height="300"></canvas>
   </div>
</div>
