<div class="col-sm-12">
  <div class="row line-graph">
   <div>
    <p class="storyDate">{{chartInfo.created_at}}</p>
    <br>
    <a href="{{chartInfo.url}}" class="userStoryTitle"><h4>{{user.toUpperCase()}} - {{chartInfo.title}}</h4></a>
    <div class="scorePill">
      <span class="pilllabel">Score</span>
      <span class="value">{{chartInfo.points}}</span>
    </div>
    <div class="scorePill sentiment">
      <span class="pilllabel">Comments Sentiment</span>
      <span class="value">{{sentiment}}</span>
    </div>
    <canvas linechart options="myChartOptions" responsive=true data="topPostChart" width="500" height="300"></canvas>
    <p class="center chart-label">Top Post Comments</p>

  </div>
</div>
